<head>
  <!-- more head content omitted -->

  <!-- css option 1: embed styles -->
  <style>/** rules */</style>

  <!-- css option 2: external stylesheet -->
  <link href="{filename}.css" rel="stylesheet" />
</head>
<body>
  <!-- more body content omitted -->

  <!-- javascript option 1: embed source code -->
  <script>/** js code */</script>

  <!-- javascript option 2: external script file -->
  <script src="{filename}.js"></script>
  <!-- javascript option 2: external script file (allow es6 `import` syntax) -->
  <script type="module" src="{filename}.js"></script>
</body>
